<div class="about-main">
  <h2>t.PlayerCommunityとは</h2>
  <p>
    SNSサービスです。
    テニスしたいけど相手がいない！
    なんてことありませんか？
    同じ地域でテニスしている人を探すコミュニティです！
  </p>
  <img class="about-img" src="/tennis-1671852_1920.jpg">
</div>